.message{data: {message: {id: message.id}}}
  .chat  
    .chat__info
      .chat__info--name
        = message.user.name
      .chat__info--time
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .chat__message
      - if message.content.present?
        %p.chat-message__content
          = message.content
      = image_tag message.image.url, class: 'chat-message__image' if message.image.present?

