.side_bar
  .side_bar__head
    .side_bar__head--user_name
      KOTA
    .side_bar__head--menu
      = link_to "#", class:"new" do
        = icon('fas', 'edit')
      = link_to "#", class:"menu" do
        = icon('fas', 'list-alt')
  .side_bar__body
    .group
      .group__name
        GROUP1
      .group__message
        No messages
    .group
      .group__name
        GROUP2
      .group__message
        No messages